.java {
    color: #C586C0;
}

.method {
    color: #DCDCAA;
}

.type {
    color: #4EC9A2;
}

.key {
    color: #569CD6;
}

.var {
    color: #9CDCFE;
}

.code {
    color: #B5CEA8;
}

.vsc1 {
    color: #FFD700;
}

.vsc2 {
    color: #DA70D6;
}

.vsc3 {
    color: #199FFF;
}