@import url(/web/css/main.css);
/*
Main Mod Page
Mod Select Page
*/

main textarea {
    resize: none;
    color: white;
    width: 100%;
    border-radius: 10px;
    text-shadow: "Search...";
    margin-bottom: 10px;
}

main textarea::placeholder {
    color: gray;
}

main p {
    font-size: 20px;
    color: #666;
    margin-bottom: 15px;
}

main :is(label, select) {
    color:white;
    margin-bottom: 15px;
}

@media (orientation: landscape) {
    main textarea {
        font-size: 30px;
        height: 40px;
    }
}

@media (orientation: portrait) {
    main textarea {
        font-size: 50px;
        height: 60px;
    }
}