@import url(/web/css/main.css);
/*
Mod Index Page
*/

main select {
    border-radius: 5px;
}

main textarea {
    resize: none;
    color: white;
    font-size: 30px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-shadow: "Search...";
    margin-bottom: 10px;
}

main textarea::placeholder {
    color: gray;
}

main label, select {
    color:white;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: monospace;
}

main mod-element-list {
    margin-bottom: 20px;
}

@media (orientation: portrait) {
    main mod-element {
        width: 318px;
    }

    main mod-element.container {
        height: 390px;
    }

    main mod-element.image {
        width: 384;
        height: 384;
    }

    main mod-element::part(text) {
        font-size: 1.8em;
    }

    main mod-element-list::part(text) {
        font-size: 3em;
    }
}