@import url(/web/css/main.css);
/*
Mod Element Info Page
*/

main button {
    width: 100%;
}

main button.collapse {
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 40px;
    font-family: monospace;
    margin-bottom: 10px;
}

main button.collapse:hover {
    background-color: rgb(55, 55, 55);
}

main button.active {
    margin-bottom: 0px;
}

main button.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

main p {
    color: #ffffff;
    margin-bottom: 10px;
}

main textarea {
    resize: none;
    color: white;
    font-size: 30px;
    width: 1000px;
    height: 40px;
    border-radius: 10px;
    text-shadow: "Search...";
}

main textarea::placeholder {
    color: gray;
}

main label, select {
    color:white;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: monospace;
}

main mod-element-list {
    margin-bottom: 20px;
}