@import url(/web/css/main.css);
/*
Plugins
*/

main info-panel :is(p, h1, a, img) {
    color: rgb(200, 200, 200);
    margin-top: 10px;
    background-color: rgb(45, 45, 45);
    word-wrap: break-word;
}

main ul {
    background-color: rgb(45, 45, 45);
    margin-left: 5px;
}

main info-box ul li {
    background-color: rgb(45, 45, 45);
    margin-left: 10px;
    list-style-type: square;
}

main info-box ul li a {
    text-decoration: none; 
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: rgb(200, 200, 200);
}

main info-box ul li a:hover {
    text-decoration: underline;
}

main info-panel h1 {
    font-size: 26px;
}

main info-panel img {
    width: auto;
}

main info-panel info-panel {
    background-color: rgb(45, 45, 45);
}

main .image p {
    width: 77%;
}

@media (orientation: landscape) {
    main info-panel :is(p, a) {
        font-size: 20px;
    }

    main info-panel img {
        height: 100%;
    }
}

@media (orientation: portrait) {
    main info-panel :is(p, a) {
        font-size: 30px;
    }

    main info-panel img {
        height: 400%;
    }
}